@{
    ViewBag.Title = "Home Page";
}

<head>
    <div align="center">
        <h2>Brian P. Szaroletta</h2>
        <address>
            8821 Stonewall E<br />
            Clarkston, MI 48348<br />
            Cell: 248-804-9742<br />
            Email: bszaroletta@gmail.com
        </address>
    </div>
</head>