
@{
    ViewBag.Title = "Project5";
}
<head>
    <h2>Project5</h2>
    <script src="~/Scripts/knockout-3.4.1.js"></script>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Player</th>
                <th>Number</th>
                <th>Points</th>

                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: seats">
            <tr>
                <td><input data-bind="value: name" /></td>
                <td><select data-bind="options: $root.availableMeals, value: meal, optionsText: 'mealName'"></select></td>
                <td data-bind="text: formattedPrice"></td>
                <td><a href="#" data-bind="click: $root.removeSeat">Remove</a></td>
            </tr>
        </tbody>
    </table>
</body>
